.main {
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 0 0 100px;
  height: max-content;
  margin-right: 15px;
}

.title {
  word-break: break-all;
}

.mark {
  margin-right: 4px;
  color: var(--schema-render-color-required-mark);
  position: relative;
  top: 2px;
}

.titleTooltip {
  margin-left: 4px;
  position: relative;
  top: 1px;
}

.body {
  flex-grow: 1;
}

.footer {
  padding-left: 115px;
  word-break: break-all;
}

.footer:empty {
  display: none;
}

.description {
  margin-top: 6px;
  color: var(--schema-render-color-description);
}

.errorMsg {
  margin-top: 6px;
  color: var(--schema-render-color-error);
}

.warningMsg {
  color: var(--schema-render-color-warning);
}
