body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;

  // 主页配置
  .dumi-default-hero {
    height: 800px;
    padding-top: 160px;
  }

  .dumi-default-hero-title > span {
    font-size: 120px;
  }

  .dumi-default-features-item {
    text-align: center;
  }

  // 头部
  .dumi-default-header-content {
    width: 100%;
    max-width: 100%;
  }

  // 侧栏配置
  .dumi-default-sidebar {
    width: 240px;
    padding-inline-end: 8px;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #ccc;
      border-radius: 6px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #999;
    }

    > dl > dt {
      font-weight: bold;
    }
  }

  // 锚点目录 toc 配置
  .dumi-default-doc-layout > main {
    width: 100%;
    max-width: 100%;

    > .dumi-default-doc-layout-toc-wrapper {
      width: 170px;
      margin-inline-start: 15px;
      top: 90px;

      > h4 {
        display: none;
      }
    }
  }

  .dumi-default-toc {
    padding: 0;
    margin-top: 0;
  }

  .dumi-default-content:not([data-no-sidebar]) {
    padding: 48px;
  }

  .dumi-default-container.markdown:not(:last-child) {
    margin-top: 15px;
  }

  // markdown
  .markdown {
    line-height: 2;
    color: #333;

    p {
      margin-block: 10px 10px;
    }

    ul li {
      line-height: 2;

      p {
        margin-block: 0 0;
      }
    }

    table {
      word-break: keep-all;
    }
  }

  // 预览器
  .dumi-default-previewer {
    margin: 15px 0 32px;
  }

  .dumi-default-table {
    margin: 0;

    th {
      text-align: left;
    }
  }

  // 代码预览样式
  .dumi-default-source-code > pre.prism-code > .highlighted {
    width: 100%;
  }

  .dumi-default-source-code > pre.prism-code > .highlighted::before {
    width: 24px;
    background-color: #eeeff0;
    position: absolute;
    right: -24px;
    top: 0;
    bottom: 0;
    content: '';
  }

  //////////////// [START] 特定页面样式 ////////////////

  // 首页内容宽度设置
  .dumi-default-content[data-no-sidebar='true'] {
    max-width: 1392px;
    margin: 0 auto;
  }

  //////////////// [END] 特定页面样式 ////////////////
}
