@use './dumi';

.example-layout-cols-2 {
  display: flex;

  > * {
    width: 50%;
    height: max-content;

    &:last-child {
      margin-left: 20px;
    }
  }
}

.api-table-col-3 {
  table {
    th:nth-child(1) {
      width: 150px;
    }

    th:nth-child(3) {
      width: 150px;
    }
  }
}

.section-title {
  display: flex;
  align-items: center;
  margin: 10px 0 15px;
  line-height: 1;
  font-weight: bold;

  &::before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 1em;
    margin-right: 10px;
    background-color: #1677ff;
  }
}

// 应用场景有：滚动到指定位置
.focus-out {
  animation: focus-out 1s ease-out;
  border-radius: 6px;
}

@keyframes focus-out {
  0% {
    padding: 20px;
    background: rgb(254 238 189);
  }

  100% {
    padding: 0;
    background: transparent;
  }
}
