.header {
  margin-bottom: 8px;
}

.title {
  word-break: break-all;
}

.mark {
  margin-right: 4px;
  color: var(--schema-render-color-required-mark);
  position: relative;
  top: 2px;
}

.titleTooltip {
  margin-left: 4px;
}

.footer {
  word-break: break-all;
}

.footer:empty {
  display: none;
}

.description{
  margin-top: 8px;
  color: var(--schema-render-color-description);
}

.errorMsg{
  margin-top: 8px;
  color: var(--schema-render-color-error);
}

.warningMsg {
  color: var(--schema-render-color-warning);
}
